.u-section-1 .u-sheet-1 {
  min-height: 487px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  width: 193px;
  margin: 41px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 1.875rem;
  background-image: none;
  margin: 30px auto 0;
  padding: 4px 56px 5px 54px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-size: 1.875rem;
  margin: 23px auto 0;
  padding: 4px 61px 5px 60px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  font-size: 1.875rem;
  background-image: none;
  margin: 23px auto 60px;
  padding: 4px 54px 5px 53px;
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }
}