.buttonClass {
  font-size:15px;
  font-family:Arial;
  width:140px;
  height:50px;
  border-width:1px;
  color:#fff;
  border-color:#d0451b;
  border-top-left-radius:3px;
  border-top-right-radius:3px;
  border-bottom-left-radius:3px;
  border-bottom-right-radius:3px;
  box-shadow:inset 0px 1px 0px 0px #cf866c;
  text-shadow:inset 0px 1px 0px #854629;
  background:linear-gradient(#d0451b, #d0451b);
}

.buttonClass:hover {
  backg